body {
  background-color: rgb(60, 158, 142) !important;
}

/* navbar */

.ui.menu .item img.logo {
  margin-right: 1.5em;
}

.ui.fixed.menu {
  background-color: green 
}

.ui.main.container,
.main.segment {
  margin-top: 10em;
}

